body {
    font-family: 'EB Garamond', serif;
    background-color: #333;
    color: #000;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    background-color: #fdfdfd;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: left;
    position: relative;
}

header, section, footer {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

a {
    color: #d40000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p, ul {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style: disc;
    padding-left: 20px;
}
